{% extends 'base.html.twig' %}

{% block body %}
    <h1>SkuStock</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skuStock.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if skuStock.createdAt %}{{ skuStock.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedat</th>
                <td>{% if skuStock.modifiedAt %}{{ skuStock.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Skuid</th>
                <td>{{ skuStock.skuId }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ skuStock.stock }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('/db2/skustock_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('/db2/skustock_edit', { 'id': skuStock.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
