{% extends 'base.html.twig' %}

{% block body %}
    <h1>TableRelations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Sourcebase</th>
                <th>Targetbase</th>
                <th>Sourcetable</th>
                <th>Targettable</th>
                <th>Sourceentity</th>
                <th>Targetentity</th>
                <th>Sourcefield</th>
                <th>Targetfield</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tableRelation in tableRelations %}
            <tr>
                <td><a href="{{ path('tablerelations_show', { 'id': tableRelation.id }) }}">{{ tableRelation.id }}</a></td>
                <td>{{ tableRelation.sourceBase }}</td>
                <td>{{ tableRelation.targetBase }}</td>
                <td>{{ tableRelation.sourceTable }}</td>
                <td>{{ tableRelation.targetTable }}</td>
                <td>{{ tableRelation.sourceEntity }}</td>
                <td>{{ tableRelation.targetEntity }}</td>
                <td>{{ tableRelation.sourceField }}</td>
                <td>{{ tableRelation.targetField }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tablerelations_show', { 'id': tableRelation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tablerelations_edit', { 'id': tableRelation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tablerelations_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
