{% extends 'base.html.twig' %}

{% block body %}
    <h1>TableRelations</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tableRelation.id }}</td>
            </tr>
            <tr>
                <th>Sourcebase</th>
                <td>{{ tableRelation.sourceBase }}</td>
            </tr>
            <tr>
                <th>Targetbase</th>
                <td>{{ tableRelation.targetBase }}</td>
            </tr>
            <tr>
                <th>Sourcetable</th>
                <td>{{ tableRelation.sourceTable }}</td>
            </tr>
            <tr>
                <th>Targettable</th>
                <td>{{ tableRelation.targetTable }}</td>
            </tr>
            <tr>
                <th>Sourceentity</th>
                <td>{{ tableRelation.sourceEntity }}</td>
            </tr>
            <tr>
                <th>Targetentity</th>
                <td>{{ tableRelation.targetEntity }}</td>
            </tr>
            <tr>
                <th>Sourcefield</th>
                <td>{{ tableRelation.sourceField }}</td>
            </tr>
            <tr>
                <th>Targetfield</th>
                <td>{{ tableRelation.targetField }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tablerelations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tablerelations_edit', { 'id': tableRelation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
